@using SimpleToDo.WebApp.Controllers
@using SimpleToDo.WebApp.Models.Domain
@model List<SimpleToDo.WebApp.Models.View.TaskIndexViewModel>

<h2>Lista zadań</h2>
<table>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Status</th>
            <th>Przewidywana data zakończenia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TaskIndexViewModel task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Finished</td>
                <td>@task.DueDate</td>
                <td>@Html.ActionLink("Szczegóły", nameof(TasksController.Details), new { id = task.Id }, new { @class = "btn btn-default" })</td>
            </tr>
        }
    </tbody>
</table>