@using SimpleToDo.WebApp.Models.Domain
@model List<SimpleToDo.WebApp.Models.Domain.ToDoTask>

<h2>Lista zadań</h2>
<table>
    <thead>
        <tr>
            <th>Zadanie</th>
            <th>Status</th>
            <th>Przewidywana data zakończenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDoTask task in Model)
        {
            <tr>
                <td>Nazwa zadania</td>
                <td>@Convert.ToBoolean(new Random().Next(0, 1))</td>
                <td>@(DateTime.Now + TimeSpan.FromDays(new Random().Next(1, 7)))</td>
            </tr>
        }
    </tbody>
</table>