@using SimpleToDo.WebApp.Controllers
@model List<TaskIndexViewModel>

<div class="pad-bottom">
    <a asp-action="Create" class="btn btn-success">Nowe zadanie</a>
</div>

<table class="table">
    <thead class="thead-default">
        <tr>
            <th>Tytuł</th>
            <th>Status</th>
            <th>Przewidywana data zakończenia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TaskIndexViewModel task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>
                    <input type="checkbox" disabled data-toggle="toggle" value="@task.Finished" data-on="Ukończone" data-off="Nieukończone" data-onstyle="success" />
                </td>
                <td>@task.DueDate</td>
                <td>@Html.ActionLink("Szczegóły", nameof(TasksController.Details), new { id = task.Id }, new { @class = "btn btn-light" })</td>
            </tr>
        }
    </tbody>
</table>