@model SearchCriteriaViewModel

<div>
    <form asp-action="Search">
        <div class="input-group">
            <input type="text" asp-for="Phrase" class="form-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-light">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
        <div>
            <span asp-validation-for="Phrase" class="text-danger"></span>
        </div>
    </form>
</div>